// Footer about section

.footer__about__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-image: url(../../images/home/desktop/footer-about-bg.png);
  background-color: $primary-peach-color;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: -7rem;
  position: relative;
  border-radius: 1.5rem;
}

.footer__about__content {
  display: flex;
  flex-direction: column;
  color: $white;
}

.footer__about__title {
  max-width: 26.8rem;
  width: 100%;
  font-weight: 500;
  font-size: $large-h2-fs;
  line-height: $large-h2-lh;
  margin-bottom: 1rem;
}
.footer__about__text {
  max-width: 45rem;
  width: 100%;
  font-weight: 400;
  font-size: $normal-fs;
  line-height: $normal-lh;
}

// Footer about media
@media screen and (max-width: 750px) {
  .footer__about__container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 5.2rem;
    padding-bottom: 5.2rem;
    background-size: cover;
  }

  .footer__about__content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .footer__about__title {
    font-size: $mobile-large-fs;
    line-height: $mobile-large-lh;
  }

  .footer__about__text {
    font-size: $btn-fs;
    line-height: $btn-lh;
  }
}

// Footer
.footer {
  background-color: $primary-black;
  color: $dark-grey;
}

.footer__container {
  padding-top: 14.4rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
}

.footer__logo__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.footer__link {
  color: $white;
}

.footer__link:hover {
  text-transform: uppercase;
  color: $primary-peach-color;
}

.footer__link:active {
  text-decoration: underline;
}

.footer__hr {
  max-width: 1111px;
  width: 100%;
  height: 1px;
  background-color: $white;
  margin-bottom: 3rem;
}

.hidden__hr {
  display: none;
}

.footer__social__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social__link {
  font-weight: 400;
  font-size: $normal-fs;
  line-height: $normal-lh;
  color: $white;
  opacity: 50%;
}

.bold__link {
  font-weight: 700;
}

.footer__social__icon__list {
  display: flex;
  gap: 1.6rem;
}

.footer__social__icon__link:hover svg path {
  fill: $light-peach-color;
}

// Footer media
@media screen and (max-width: 750px) {
  .footer__list {
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
  }

  .footer__social__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .footer__logo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .footer__logo__img {
    margin-bottom: 3.2rem;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  .footer__social__list {
    text-align: center;
  }

  .footer__hr {
    display: none;
  }
  .hidden__hr {
    display: flex;
    max-width: 700;
    width: 100%;
    height: 1px;
    background-color: $white;
  }
}
